%hr
%h5 Tasks
%ol
  %li
    = f.fields_for :task_1 do |task|
      .row
        .large-6.columns
          = task.label :title
          = task.text_field :title, :value => (video.task_1||Task.new).title
        .large-6.columns
          = task.label :mouseover
          = task.text_field :mouseover, :value => (video.task_1||Task.new).mouseover
  %li
    = f.fields_for :task_2 do |task|
      .row
        .large-6.columns
          = task.label :title
          = task.text_field :title, :value => (video.task_2||Task.new).title
        .large-6.columns
          = task.label :mouseover
          = task.text_field :mouseover, :value => (video.task_2||Task.new).mouseover
  %li
    = f.fields_for :task_3 do |task|
      .row
        .large-6.columns
          = task.label :title
          = task.text_field :title, :value => (video.task_3||Task.new).title
        .large-6.columns
          = task.label :mouseover
          = task.text_field :mouseover, :value => (video.task_3||Task.new).mouseover
