
%nav.navbar.navbar-default
  .container-fuild
    .navbar-header
      %button.navbar-toggle.collapsed{ :type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar-collapse-1', 'aria-expanded' => 'false' }
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar            
      %a.navbar-brand= link_to 'BJJC Manager', manager_root_path
    .collapse.navbar-collapse#navbar-collapse-1
      %ul.nav.navbar-nav.nav-pills
        
        %li.dropdown{ :class => params[:controller] == "manager/categories" ? 'active' : '' }
          %a.dropdown-toggle{ :href => 'javascript:;', 'data-toggle' => 'dropdown', :role => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
            Categories
            %i.caret
          %ul.dropdown-menu
            %li= link_to "See all #{Category.all.count}", manager_categories_path
            %li
              %a{ :href => new_manager_category_path}
                Create new
                %i.fa.fa-plus-square

        %li.dropdown{ :class => params[:controller] == "manager/questpages" ? 'active' : '' }
          %a.dropdown-toggle{ :href => 'javascript:;', 'data-toggle' => 'dropdown', :role => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
            Questpages
            %i.caret
          %ul.dropdown-menu
            %li= link_to "See all #{Questpage.all.count}", manager_questpages_path
            %li
              %a{ :href => new_manager_questpage_path}
                Create new
                %i.fa.fa-plus-square

        %li.dropdown{ :class => params[:controller] == "manager/questsets" ? 'active' : '' }
          %a.dropdown-toggle{ :href => 'javascript:;', 'data-toggle' => 'dropdown', :role => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
            Questsets
            %i.caret
          %ul.dropdown-menu
            %li= link_to "See all #{Questset.all.count}", manager_questsets_path
            %li
              %a{ :href => new_manager_questset_path}
                Create new
                %i.fa.fa-plus-square

        %li.dropdown{ :class => params[:controller] == "manager/merit_badges" ? 'active' : '' }
          %a.dropdown-toggle{ :href => 'javascript:;', 'data-toggle' => 'dropdown', :role => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
            Merit Badges
            %i.caret
          %ul.dropdown-menu
            %li= link_to "See all #{MeritBadge.all.count}", manager_badges_path
            %li
              %a{ :href => new_manager_badge_path}
                Create new
                %i.fa.fa-plus-square

        %li.dropdown{ :class => params[:controller] == "manager/videos" ? 'active' : '' }
          %a.dropdown-toggle{ :href => 'javascript:;', 'data-toggle' => 'dropdown', :role => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
            Videos
            %i.caret
          %ul.dropdown-menu
            %li= link_to "See all #{Video.all.count}", manager_videos_path
            %li
              %a{ :href => new_manager_video_path}
                Create new
                %i.fa.fa-plus-square

        %li.dropdown{ :class => params[:controller] == "manager/tasks" ? 'active' : '' }
          %a.dropdown-toggle{ :href => 'javascript:;', 'data-toggle' => 'dropdown', :role => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
            Tasks
            %i.caret
          %ul.dropdown-menu
            %li= link_to "See all #{Task.all.count}", manager_tasks_path
            %li= link_to 'Create New', new_manager_task_path

        %li.dropdown{ :class => params[:controller] == "manager/profiles" ? 'active' : '' }
          %a.dropdown-toggle{ :href => 'javascript:;', 'data-toggle' => 'dropdown', :role => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
            Profiles
            %i.caret
          %ul.dropdown-menu
            %li= link_to "See all #{Profile.all.count}", manager_profiles_path
            %li= link_to 'Create New', new_manager_profile_path

            
-# = render 'manager/main_menu_2'

  
