
- if "edit" == params[:action]
  - url = manager_video_path( @video )
- else
  - url = manager_videos_path

= form_for @video, :url => url do |f|
  = f.submit nil, :class => [ :button, :small ]

  = f.label :merit_badge
  -# = select :video, :merit_badge_id, @merit_badges_list, { :selected => (@video.merit_badge_id||params[:merit_badge_id]) }
  = f.select :merit_badge_id, @merit_badges_list, { :selected => (@video.merit_badge_id||params[:merit_badge_id]) }
  
  = f.label :questset
  = f.select :questset_id, @questsets_list, { :selected => (@video.questset_id||params[:questset_id]) }

  = f.label :category
  = f.select :category_id, @categories_list
  
  = f.label :title
  = f.text_field :title

  = f.label :tag_string
  = f.text_field :tag_string
  
  = f.label :youtube_id
  = f.text_field :youtube_id

  = f.label :order_value
  = f.text_field :order_value
  
  - if @video.youtube_id
    = image_tag( "http://img.youtube.com/vi/#{@video.youtube_id}/1.jpg" )
    %br
    %br
    
  = f.label :descr
  = f.text_area :descr, { :class => :tinymce }
  
  %br
  = f.submit nil, :class => [ :button, :small ]


- # Tasks
%hr
.a
  %h5 New Task
  = render 'manager/tasks/form', :task => Task.new, :video => @video
  .video-task-new-status
  
  %h4
    Tasks (
    %span.tasks-length= @video.tasks.length
    )
    
  - @video.tasks.each do |task|
    = render 'manager/tasks/form', :task => task, :video => @video
      
