
- if "edit" == params[:action]
  - url = manager_video_path( @video )
- else
  - url = manager_videos_path

= form_for @video, :url => url do |f|
  = f.submit nil, :class => [ :button, :small ]
  %br
  
  = f.label "Badge/Questset"
  = f.select :badge_id, @merit_badges_list, { :selected => (@video.badge_id||params[:badge_id]) }
  %br
  
  = f.label :category
  = f.select :category_id, options_for_select( @categories_list, :selected => params[:category_id] || @video.category_id )

  .panel.panel-default
    .panel-body
      .a
        = f.label :title
        = f.text_field :title
      .a
        = f.label :tag_string
        = f.text_field :tag_string
      .a
        = f.label :youtube_id
        = f.text_field :youtube_id
      .a
        = f.label :order_value
        = f.text_field :order_value
  
  - if @video.youtube_id
    = image_tag( "http://img.youtube.com/vi/#{@video.youtube_id}/1.jpg" )
    %br
    %br
    
  = f.label :descr
  = f.text_area :descr, { :class => :tinymce }
  
  %br
  = f.submit nil, :class => [ :button, :small ]

.panel.panel-default
  .panel-body
    .row
      .col-sm-6
        %h4 Tasks (#{@video.tasks.length})
      .col-sm-6
        %h4 New Task
        = render 'manager/tasks/form', :task => Task.new, :video => @video
        .video-task-new-status
        - @video.tasks.each do |task|
          = render 'manager/tasks/form', :task => task, :video => @video

