
- if "edit" == params[:action]
  - url = manager_video_path( @video )
- else
  - url = manager_videos_path

= form_for @video, :url => url do |f|
  = f.label :title
  = f.text_field :title
  = f.label :youtube_id
  = f.text_field :youtube_id
  = f.submit
