
- item ||= @badge

.panel
  %h4.text-center= item.title
  - if item.title_photo
    = image_tag item.title_photo.photo.url(:small)
  - else
    = image_tag 'missing.png'
  = item.subhead
  = raw item.descr
