
%ul.large-block-grid-1.fg-videos-show
  - videos.each do |v|
    %li.text-center
      = link_to image_tag( "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" ), fg_video_path( v ), { :'data-no-turbolink' => true }
      %br
      = link_to v.title, fg_video_path( v ), { :'data-no-turbolink' => true }
      %br
      - if v[:player_video]
        -# - puts "+++ +++ pv", v[:player_video].tasks
        
        = form_for [ :fg, v[:player_video] ], :url => '' do |f|
          - v.tasks.each_with_index do |task, idx|
            -# = f.check_box :task, :checked => v[:player_video].tasks.include?( task.id ), :class => :task, :"player-video-id" => v[:player_video].id, :"task-id" => task.id
            - is_checked = v[:player_video].tasks.include?( task.id.to_s )
            - puts "+++ +++ is checked", v[:player_video].tasks.inspect, task.id.to_s, is_checked
            = f.check_box :task, :checked => is_checked, :class => :task, :"player-video-id" => v[:player_video].id, :"task-id" => task.id
      - else
        %nbsp
  - if 0 == videos.length
    %li No videos
  %span{ :class => :'video-tasks-response' }
    - unless user_signed_in?
      Sign up or Sign in to be able to click off tasks!
