
%ul.large-block-grid-1.fg-videos-show
  - videos.each do |v|
    %li.text-center
      = image_tag( "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" )
      %br
      = link_to v.title, fg_video_path( v ), { :'data-no-turbolink' => true }
      %br
      = form_for [ :fg, v[:player_video] ], :url => '' do |f|
        = f.check_box :task_1_ok, :checked => v[:player_video].task_1_ok, :class => :task, :'player-video-id' => v[:player_video].id, :'param-name' => :task_1_ok, :disabled => !user_signed_in?
        = f.check_box :task_2_ok, :checked => v[:player_video].task_2_ok, :class => :task, :'player-video-id' => v[:player_video].id, :'param-name' => :task_2_ok, :disabled => !v[:player_video].task_1_ok
        = f.check_box :task_3_ok, :checked => v[:player_video].task_3_ok, :class => :task, :'player-video-id' => v[:player_video].id, :'param-name' => :task_3_ok, :disabled => !v[:player_video].task_2_ok
  - if 0 == videos.length
    %li No videos
  %span{ :class => :'video-tasks-response' }
    - unless user_signed_in?
      Sign up or Sign in to be able to click off tasks!
