
-#
-# manager / questpages / _form
-#
  
= form_for questpage, :url => url do |f|
  .row
    .large-12.columns
      .a
        = f.label :title
        = f.text_field :title
      .a
        = f.label :slug
        = f.text_field :slug
      .a
        = f.label :subtitle
        = f.text_field :subtitle
      .a
        = f.label :description
        = f.text_area :description
      .input-field
        = f.label :is_trash
        = f.check_box :is_trash
      .input-field
        = f.label :is_active
        = f.check_box :is_active
      .a
        = f.submit nil, :class => [ :button, :small ]

