
= render 'categories/breadcrumbs', :categories => @categories_list

Video
%h3 #{@video.title}

.text-center
  = render 'videos/embed', :video => @video

%br
%br

= @video.descr

= render 'ads/leaderboard'
