
.videos-showw
  - if @categories_list.length > 0
    .row
      .large-12.columns
        = render 'categories/breadcrumbs', :categories => @categories_list
  .row
    .large-4.columns
      - cache( 'categories_tree' ) do
        .categories-tree
          = raw categories_tree @categories
          -# = render 'categories/tree', :categories => @categories
    .large-8.columns
      Video
      %h3 #{@video.title}

      - if @video.category
        = link_to "Back to category -> #{@video.category.title}", category_path( @video.category )
        %br
        %br
      
      .text-center
        = render 'videos/embed', :video => @video

      %br
      %br

      = @video.descr

  = render 'ads/leaderboard'
