
.fg-videos--tasks
  .b
    %h4 Tasks
    - if defined?( player_video ) && player_video
      %div.player-video-id{ :'player-video-id' => player_video.id }

      %ul
        - video.tasks.each do |task|
          %li
            = task.title
            .mouseover= task.mouseover
            .row
              - if tasks_hash[task.id.to_s]
                .large-4.columns
                  Completed
                .large-4.columns
                  = form_for [ :fg, player_video ], :remote => true do |f|
                    .hide
                      = text_field_tag :task_id, task.id.to_s
                    = f.submit "Undo", :class => [ :button, :small ]
              - else
                .large-4.columns
                  Not Completed
                .large-4.columns
                  = form_for [ :fg, player_video ], :remote => true do |f|
                    .hide= text_field_tag :task_id, task.id.to_s
                    = f.submit "Complete", :class => [ :button, :small ]
              .large-4.columns
                %span{ :class => "task-#{task.id}-status" }
            
    - else
      %ul
        - video.tasks.each do |task|
          %li
            = task.title
            .mouseover= task.mouseover
    %span.video-tasks-response
      - unless user_signed_in?
        Sign up or Sign in to be able to click off tasks!
