
.row.fg-videos-show
  .large-3.columns
    %h4.text-center Videos
    - if @video.questset
      = render 'fighters_guild/questsets/videos', :videos => @videos
    - else
      = render 'fighters_guild/merit_badges/videos', :videos => @videos
      
  .large-9.columns
    .text-center
      = render 'videos/embed', :video => @video
      %h4 Video "#{@video.title}"
      
    = raw @video.descr

    - if @video.questset
      = render 'fighters_guild/videos/tasks', :video => @video, :player_video => @player_video

    - if @video.questset_id
      = link_to "Back to #{@video.questset.title}", fg_questset_path( @video.questset )
      
