
-# manager merit_badges _form
  
- item ||= @badge
- unless defined?( url )
  - if defined? @badge
    - if params[:action] == 'edit'
      - url = manager_badge_path( @badge )
    - else
      - url = manager_badges_path

= form_for item, :url => url, :html => { :multipart => true } do |f|
  .row
    .col-sm-12
      = f.submit nil, :class => [ :btn ]
      %br
      
      = f.label :title
      = f.text_field :title
      %br
      
      = f.label :questpage
      = f.select :questpage_id, options_for_select(@questpages_list, :selected => item.questpage_id || params[:questpage_id])
      %br

      = f.label 'Premium?'
      = f.check_box :is_premium
      
  .row
    .col-sm-12
      .panel.panel-default
        .panel-body
          = f.label :location_name
          %span Like name_seo, slug
          = f.text_field :location_name
          %br
          
          = f.label :background_image
          = file_field_tag :background_image
          - if item.background_image
            = image_tag item.background_image.photo.url(:thumb2)
            
    .col-sm-12
      .panel.panel-default
        .panel-body
          %h4 Position on parent location
          %span Shaded, accomplished images go on the map.
          %br
          = f.label "Parent Badge/Questset/Location"
          = f.select :badge_id, @merit_badges_list
          .row
            .col-sm-6
              = f.label :bg_pos_x
              = f.number_field :bg_pos_x
            .col-sm-6
              = f.label :bg_pos_y
              = f.number_field :bg_pos_y

  .panel.panel-default
    .panel-body
      .row
        .col-md-3
          = f.label :unavailable_photo
          = f.file_field :unavailable_photo
          - if item.unavailable_photo
            = image_tag item.unavailable_photo.photo.url(:thumb2)
        .col-md-3
          = f.label :shaded_photo
          = f.file_field :shaded_photo
          - if item.shaded_photo
            = image_tag item.shaded_photo.photo.url(:thumb2)
        .col-md-3
          = f.label :accomplished_photo
          = f.file_field :accomplished_photo
          - if item.accomplished_photo
            = image_tag item.accomplished_photo.photo.url(:thumb2)
        .col-md-3
          = f.label :title_photo
          = f.file_field :title_photo
          - if item.title_photo
            = image_tag item.title_photo.photo.url(:thumb2)
            
  .panel.panel-default
    .panel-body
      .row
        .col-md-6
          .a
            = f.label :unavailable_mouseover
            = f.text_field :unavailable_mouseover
          .a
            = f.label :shaded_mouseover
            = f.text_field :shaded_mouseover
          .a
            = f.label :accomplished_mouseover
            = f.text_field :accomplished_mouseover
        .col-md-6
          .a
            = f.label :unaccomplished_order_value
            = f.text_field :unaccomplished_order_value
          .a
            = f.label :accomplished_order_value
            = f.text_field :accomplished_order_value

  .panel.panel-default
    .panel-body
      .row
        .col-sm-12
          = render 'manager/photos/subform', :merit_badge => @badge, :questset => @questset
      
  .row
    .col-sm-12
      .a
        = f.label :subhead
        = f.text_field :subhead
      .a
        = f.label :descr
        = f.text_area :descr, { :class => :tinymce }

  .row
    .col-sm-12
      .input-field
        = f.label 'Children Merit Badges / Questsets'
        = f.select :badges, options_for_select( @merit_badges_list ), {}, { :multiple => true, :size => 20  }

  .row
    .col-sm-12
      = f.submit nil, :class => [ :button, :small ]
  
