
- item ||= @badge
- unless defined?( url )
  - if defined? @badge
    - if params[:action] == 'edit'
      - url = manager_badge_path( @badge )
    - else
      - url = manager_badges_path

= form_for item, :url => url do |f|
  .row
    .large-12.columns
      = f.submit nil, :class => [ :button, :small ]
  
      = f.label :title
      = f.text_field :title

  .row
    .large-3.columns
      = f.label :unavailable_photo
      = f.file_field :unavailable_photo
      - if item.unavailable_photo
        = image_tag item.unavailable_photo.photo.url(:thumb2)
    .large-3.columns
      = f.label :shaded_photo
      = f.file_field :shaded_photo
      - if item.shaded_photo
        = image_tag item.shaded_photo.photo.url(:thumb2)
    .large-3.columns
      = f.label :accomplished_photo
      = f.file_field :accomplished_photo
      - if item.accomplished_photo
        = image_tag item.accomplished_photo.photo.url(:thumb2)
    .large-3.columns
      = f.label :title_photo
      = f.file_field :title_photo
      - if item.title_photo
        = image_tag item.title_photo.photo.url(:thumb2)
        
  .row
    .large-6.columns
      = f.label :shaded_mouseover
      = f.text_field :shaded_mouseover
    .large-6.columns
      = f.label :accomplished_mouseover
      = f.text_field :accomplished_mouseover

  .row
    .large-12.columns
      = f.label :subhead
      = f.text_field :subhead

      = f.label :descr
      = f.text_area :descr, { :class => :tinymce }

  .row
    .large-6.columns
      = f.label :order_value, 'alpha-numeric order value. 2 comes before 3. aa comes before aaa.'
      = f.text_field :order_value
    .large-6.columns
      
  .row
    .large-12.columns
      = f.submit nil, :class => [ :button, :small ]
  
%hr
