
- items ||= @badges

%ul
  - items.each do |item|
    - edit_path   = "Questset" == item.class.name ? edit_manager_questset_path( item )      : edit_manager_badge_path( item )
    - videos_path = "Questset" == item.class.name ? manager_questset_videos_path( item )    :  manager_badge_videos_path( item )
    - new_path    = "Questset" == item.class.name ? new_manager_questset_video_path( item ) : new_manager_badge_video_path( item )
    %li
      %h5= item.title
      = link_to '[edit]', edit_path, { 'data-no-turbolink' => true }
      - if item.shaded_photo
        = image_tag item.shaded_photo.photo.url(:mini)
      - if item.accomplished_photo
        = image_tag item.accomplished_photo.photo.url(:mini)
      = item.order_value
      = link_to 'Videos', videos_path
      (#{item.videos.length})
      = link_to '[+]', new_path
