
- items ||= @badges

%ul
  - items.each do |item|
    - edit_path   = "Questset" == item.class.name ? edit_manager_questset_path( item )      : edit_manager_badge_path( item )
    - videos_path = "Questset" == item.class.name ? manager_questset_videos_path( item )    :  manager_badge_videos_path( item )
    - new_path    = "Questset" == item.class.name ? new_manager_questset_video_path( item ) : new_manager_badge_video_path( item )
    %li
      %h5
        = link_to '[~]', edit_path, { 'data-no-turbolink' => true }
        = item.title
        %ul
          %li= item.order_value
          %li
            = link_to 'Videos', videos_path
            (#{item.videos.length})
            = link_to '[+]', new_path
      
      - if item.unavailable_photo
        unavailable:
        = image_tag item.unavailable_photo.photo.url(:thumb)
      - if item.shaded_photo
        shaded:
        = image_tag item.shaded_photo.photo.url(:thumb)
      - if item.accomplished_photo
        accomplished:
        = image_tag item.accomplished_photo.photo.url(:thumb)
      - if item.title_photo
        title:
        = image_tag item.title_photo.photo.url(:thumb)
