
.row
  .large-12.columns
    %h3
      Merit Badges
      = link_to '[+]', new_manager_badge_path

    %ul
      - @badges.each do |badge|
        %li
          = link_to '[~]', edit_manager_badge_path( badge )
          - if badge.shaded_photo
            = image_tag badge.shaded_photo.photo.url(:mini)
          - if badge.accomplished_photo
            = image_tag badge.accomplished_photo.photo.url(:mini)
          = badge.title
        
