
.categories-show
  .row
    .large-12.columns
      = render 'categories/breadcrumbs', :categories => @categories_list, :category => @category

  .row
    .large-4.columns
      - cache( action_suffix: 'categories_tree' ) do
        .categories-tree
          = raw categories_tree @categories
          -# = render 'categories/tree', :categories => @categories
    .large-8.columns
      Category
      %h5 #{@category.title}

      %ol.videos-list
        - @videos.each do |video|
          %li
            -# = image_tag video.video_thumbnail.thumbnail
            = link_to image_tag( "http://img.youtube.com/vi/#{video.youtube_id}/1.jpg" ), video_path( video ), { :'data-no-turbolink' => true }
            = link_to video.title, video_path( video )

      = paginate @videos, :param_name => :videos_page

  = render 'ads/leaderboard'
