
= form_for [:manager, category], :html => { :multipart => true } do |f|
  .row
    .small-6.columns
      = f.submit nil, :class => [ :button, :small ]  
    .small-6.columns
      = f.label :category_id, 'Parent Category'
      - if params[:category_id]
        = f.select :category_id, options_for_select( @simple_categories_list, params[:category_id] )
      - else
        = f.select :category_id, @categories_list

  = f.label :title
  = f.text_field :title

  = f.label :slug
  %b `${short-slug}-${short-slug}...`
  = f.text_field :slug

  = f.label :short_slug
  = f.text_field :short_slug

  = f.label :path
  %b cannot start with slash
  = f.text_field :path

  = f.label :kind
  = f.select :kind, options_for_select( Category::KINDS, :selected => @category.kind )
  
  = f.label :subhead
  = f.text_area :subhead

  = f.label :descr
  = f.text_area :descr, { :class => :tinymce }

  = f.label :order_value
  = f.text_field :order_value

  .row
    .large-3.columns
      = image_tag @category.photo.photo.url :thumb2 unless @category.photo.blank?
    .large-9.columns
      = f.label :photo
      = f.file_field :photo

  %br
  = f.submit nil, :class => [ :button, :small ]
  
.row
  = button_to 'Delete', manager_category_path( @category.id ), :method => 'delete', :data => { :confirm => 'Are you sure?' }

.row
  .small-6.columns
    %h4
      Children
      = link_to '[+]', new_manager_category_path( :category_id => @category.id )
    = render 'form_children', :categories => @category.categories, :depth => 2
  .small-6.columns
    %h5 Parent
    - if @category.category
      = link_to @category.category.title, edit_manager_category_path( @category.category )
      %br
      %br
    = @category.category.inspect

%hr

.row
  .small-6.columns
    - if @category.persisted?
      %h5 Videos (#{@category.videos.count}) #{link_to '[+]', new_manager_category_video_path( @category )}
      %ul
        - @category.videos.each do |video|
          %li
            = link_to '[~]', edit_manager_video_path( video )
            = video.title
          
