
.row
  .large-3.columns
    %h3= link_to 'Fighters Guild', fg_root_path
  .large-6.columns
    %ul.inline-list
      %li= link_to "Technique Database", "http://bjjcollective.com"
      %li= link_to "About Us", fg_about_path
      
  .large-3.columns
    %ul.inline-list
      - if current_user
        %li Logged in as #{current_user.email}
        %li= link_to 'Sign Out', destroy_user_session_path, :method => :delete
      - else
        %li= link_to 'Sign In', new_user_session_path
        %li= link_to 'Sign Up', new_user_registration_path
%hr
