!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BJJCollective - Fighters Guild
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application',               'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'main_header'
    .row
      .large-12.columns

        - if notice
          %p{ :class => :notice}= notice
        - if alert
          %p{ :class => :alert}= alert
          
        = yield
    
    = render 'main_footer'
    = render 'analytics'
