!!!
%html{ :lang => 'en', :'ng-app' => 'myApp' }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    -# %base{ :href => '/' }
    %title BJJCollective - Technique Database
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'main_header'
    .row
      .large-12.columns

        - if notice
          %p{ :class => :notice}= notice
        - if alert
          %p{ :class => :alert}= alert
          
        = yield
        
    = render 'main_footer'
    -# = render 'footer_js' # this is only angular stuff
    = render 'analytics'
