!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BjjcollectiveRailsapp2015
    = stylesheet_link_tag    'manager', media: 'all',                                'data-turbolinks-track' => true
    = javascript_include_tag 'manager', "//tinymce.cachefly.net/4.2/tinymce.min.js", 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    = csrf_meta_tags
  %body
    = render 'manager/header'
    .row
      .large-12.columns
        
        %p{ :class => :notice }= notice
        %p{ :class => :alert }=  alert
        
        = yield

    %hr
    = render 'main_footer'
    = render 'analytics'
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
