!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title BjjcollectiveRailsapp2015
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    = stylesheet_link_tag 'manager_bootstrap'
    = csrf_meta_tags
  %body  
    .container-fluid
      .row
        .col-xs-12
          = render 'manager/main_menu'
          
    .container          
      - if flash[:alert]
        .alert.alert-danger= flash[:alert]
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      = yield
        
    = render 'main_footer'
    = render 'analytics'
    
    %script{ :src => "//code.jquery.com/jquery-3.2.1.min.js", :integrity => "sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", :crossorigin => 'anonymous' }
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
    = javascript_include_tag '//tinymce.cachefly.net/4.2/tinymce.min.js'
    = javascript_include_tag 'manager'
